@model IEnumerable<Music.Enterprise.Data.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
<tr>
    <th>
        @Html.DisplayNameFor(model => model.name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.username)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.email)
    </th>
    
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>     
    </tr>
}
    </table>

